<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
</head>
<body>

안녕하세요 메인화면입니다.
<br/>
<a href="/login">로그인</a>
<br/>
<a href="/logout">로그아웃</a>
<br/>
<a href="/admin/dashboard">어드민 대시보드</a>
<br/>
<a href="/user/dashboard">사용자 대시보드</a>
<br>
<a href="/signup/admin/1234/user@user.com/%EC%A1%B0%EC%84%B1%EC%9A%B1/ADMIN" target="_blank">어드민 입력</a>
<br>
<a href="/signup/user/1234/user@user.com/%EC%9C%A0%EC%A0%80/USER" target="_blank">사용자 입력</a>

</body>
</html>